[Desktop Entry]
X-Nemo-Application-Type=silica-qt5
Type=Application
Name=Nfc Wallet
Icon=harbour-nfcwallet
Exec=harbour-nfcwallet
X-Desktop-File-Install-Version=0.20


