[Desktop Entry]
Type=Application
Name=nfckeywallet
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/nfckeywallet
Comment=Sailfish UI application


