[Desktop Entry]
X-Nemo-Application-Type=silica-qt5
Type=Application
Name=nfckeywallet
Icon=nfckeywallet
Exec=nfckeywallet
X-Desktop-File-Install-Version=0.20


